html {
  font-size: 62.5%;
}
.font {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
}
.color-body {
  height: 100vh;
  background-color: #b197fc;
}

.rectangl {
  height: 55rem;
  border-radius: 1.3rem;
  background-color: #fff;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

.dates-count {
  color: #555;
  font-weight: 600;
  margin-bottom: 2rem;
}

.btn-style {
  width: 20rem;
  border-radius: 0.9rem;
  color: white;
  background-color: #224f61;
}

.img-avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.mt-0 {
  margin-top: 0;
}
